/* reset from http://developer.yahoo.com/yui/reset/ */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* end reset */

#container {
	font-family: arial;
	width: 960px;
	margin: 20px auto;
}

#container abbr {
	border-bottom: 1px dotted #F5FFDB;
}

#container em {
	font-style: italic;
}

#container p {
	color: #F5FFDB;
	margin-bottom: 15px;
}

#container h1 {
	text-align: right;
	margin-bottom: 20px;
}

#container h2 {
	color: #3E524E;
	font-size: 4em;
	font-weight: bold;
}

#container ul li {
	display: block;
	margin-top: 20px;
	padding: 5px;
	background-color: #2D3B38;
}

#container a {
	color: #CFFC51;
}

#container a:hover {
	color: #fff;
}

#container a.me {
	padding: 2px 4px;
	background-color: #2D3B38;
}

#container a.me:hover {
	color: #fff;
}

#container a.project {
	display: block;
	padding: 5px;
	background-color: #CFFC51;
	color: #3E524E;
	margin: 5px 0;
	font-size: 12px;
	text-decoration: none;
	clear: left;
}

#container a.project:hover {
	background-color: #fff;
}

#container img, #container object {
	margin: 0 30px 10px 0;
	float: left;
}